@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-md {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
}

/* Hide decorative background lines on mobile */
@media (max-width: 767px) {
  .lines { display: none; }
  .cursor { display: none; }
}